@import "reset";
@import "fonts";
@import "vars";
@import "libs";
@import "global";
@import "styleguide";
@import "mixin";

.header {
  &__top {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    padding: 60px 0;

    &.sticky {
      padding: 30px 0;
      background-color: rgba(236, 236, 236, 0.9);
      transition: padding 0.3s, background-color 0.3s;

      @include mq("phone") {
        padding: 10px 0;
      }
    }

    @include mq("phone") {
      padding: 15px 0;
    }
  }

  &__logo {
    margin-right: auto;

    & img {
      height: auto;

      @include mq("phone") {
        width: 80%;
      }

      @include mq("phone-small") {
        width: 65%;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  &__items {
    display: flex;
    margin-right: 50px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;

    @include mq("tablet") {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    &--active {
      color: $orange900;
    }
  }
}

.user {
  display: flex;
  align-items: center;

  @include mq("tablet") {
    margin-right: 20px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;

      @include mq("phone") {
        margin-right: 5px;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    &--cart {
      position: relative;
    }
  }

  &__btn-icon {
    width: 19px;
    height: 19px;
    stroke-width: 1.5;
    fill: none;
    stroke: $darkblue900;
  }

  &__stat {
    position: absolute;
    top: 7px;
    left: 25px;
    display: block;
    padding: 2px 3px 0 4px;
    font-size: 10px;
    line-height: 12px;
    border-radius: 50%;
    color: $white;
    background-color: $orange900;
  }
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 100vh;
  overflow-y: auto;
  z-index: 3;
  background-color: $white;
  transform: translateX(-500%);
  transition: transform 0.3s;

  @include mq("tablet") {
    &.active {
      transform: translateX(0);
    }
  }

  @include mq("phone") {
    &.active {
      width: 300px;
    }
  }

  &__menu {
    flex-direction: column;
    align-items: flex-start;
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: 25px;
  }

  &__logo {
    @include mq("tablet") {
      margin-right: 120px;
    }

    @include mq("phone-small") {
      margin-right: 40px;
    }
  }

  &__items {
    padding: 25px;
    margin-right: 0;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #eeeff3;
    border-bottom: 1px solid #eeeff3;

    @include mq("tablet") {
      display: flex;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__contacts {
    padding: 15px 25px 0;
    margin-right: 0;
  }
}

.hero {
  padding-top: 160px;

  @include mq("tablet-2") {
    padding-top: 100px;
  }

  @include mq("phone-small") {
    padding-top: 70px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq("tablet") {
      position: relative;
      justify-content: center;
    }
  }

  &__inner {
    max-width: 476px;
    width: 100%;
    margin-right: 40px;

    @include mq("tablet") {
      position: absolute;
      margin-right: 0;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: $darkblue900;
  }

  &__subtitle {
    color: $orange900;
  }

  &__title,
  &__subtitle {
    @extend %rubik-500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;

    @include mq("desktop") {
      font-size: 55px;
    }

    @include mq("tablet-2") {
      font-size: 45px;
    }

    @include mq("phone") {
      font-size: 40px;
    }
  }

  &__text {
    max-width: 450px;
    margin-bottom: 20px;

    @include mq("phone") {
      font-size: 16px;
    }
  }

  &__btn-link {
    margin-right: 25px;
    padding: 12px 32px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $white;
    background-color: $orange900;

    @include mq("phone") {
      padding: 8px 24px;
      border-radius: 3px;
      font-size: 14px;
    }
  }

  &__btn-ref {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $darkblue900;

    @include mq("phone") {
      font-size: 16px;
    }
  }

  &__image {
    height: 660px;
    max-width: 560px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include mq("tablet") {
      height: 480px;
      background-position: right;
      opacity: 0.2;
    }

    @include mq("phone") {
      height: 300px;
    }
  }
}

.popular-categories {
  &__title {
    text-align: center;
    margin-bottom: 60px;

    @include mq("tablet") {
      margin-bottom: 45px;
    }

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;

    @include mq("tablet") {
      margin-bottom: 45px;
      gap: 15px;
    }

    @include mq("phone") {
      margin-bottom: 30px;
      gap: 10px 5px;
    }
  }

  &__item {
    max-width: 210px;
    width: 100%;

    @include mq("phone") {
      max-width: 49%;
    }
  }

  &__btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $darkblue900;

    @include mq("phone") {
      font-size: 16px;
    }
  }
}

.menu-filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  padding: 2px 0;
  overflow-x: auto;
  white-space: nowrap;

  @include mq("phone") {
    margin-bottom: 30px;
  }

  &__item {
    padding-bottom: 10px;
    &:not(:last-child) {
      margin-right: 20px;

      @include mq("tablet") {
        margin-right: 10px;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 13px 32px;
    line-height: 1.3;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $silver200;
    color: $darkblue900;
    background-color: $white;

    @include mq("tablet") {
      font-size: 14px;
      padding: 11px 16px;
    }
  }

  .mixitup-control-active {
    background-color: $orange900;
    color: $white;
    transition: color 0.3s, fill 0.3s, background-color 0.3s;

    .menu-filter__icon {
      fill: $white;
    }
  }

  &__icon {
    margin-right: 10px;
    width: 44px;
    height: 44px;
    fill: $darkblue900;

    @include mq("tablet") {
      margin-right: 5px;
      width: 33px;
      height: 33px;
    }

    @include mq("phone") {
      width: 20px;
      height: 20px;
    }
  }
}

.product-card {
  height: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 0 1px $silver200;
  background-color: $white;
  transition: box-shadow 0.5s;

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 0 1px $orange900;
    }
  }

  &__img {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
    padding: 0 15px 0;
    font-size: 15px;
    line-height: 18px;
    @extend %rubik-400;
    @include line-clamp(2);

    @include mq("phone") {
      padding: 0 10px 0;
    }
  }

  &__price {
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    color: $darkblue900;
  }

  &__btn {
    padding: 7px 14px;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 6px;
    background-color: $orange900;
    color: $white;
  }
}

.delivery {
  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include mq("tablet-2") {
      position: relative;
    }
  }

  &__image {
    max-width: 440px;
    width: 100%;
    height: 585px;
    margin-right: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include mq("tablet-2") {
      margin-right: 0;
      opacity: 0.2;
      background-position: left;
    }

    @include mq("phone") {
      height: 462px;
    }
  }

  &__descr {
    max-width: 470px;
    width: 100%;

    @include mq("tablet-2") {
      position: absolute;
    }
  }

  &__descr-btn {
    padding: 12px 32px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $white;
    background-color: $orange900;

    @include mq("phone") {
      padding: 8px 24px;
      font-size: 14px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
    opacity: 0.9;

    @include mq("phone") {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  &__advantages {
    margin-bottom: 30px;

    @include mq("phone") {
      margin-bottom: 20px;
    }
  }

  &__advantage {
    display: flex;
    align-items: center;
    font-size: 24px;

    @include mq("phone") {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include mq("phone") {
        margin-bottom: 15px;
      }
    }
  }

  &__advantage-icon {
    width: 34px;
    height: 34px;
    margin-right: 30px;

    @include mq("phone") {
      margin-right: 10px;
    }

    &--clock {
      fill: $orange900;
    }

    &--bike {
      fill: #00aaff;
    }

    &--restaurant {
      fill: #ff2222;
    }
  }
}

.restaurants {
  &__title {
    text-align: center;
    margin-bottom: 60px;

    @include mq("tablet") {
      margin-bottom: 45px;
    }

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    & .slick-slide {
      display: flex;
      justify-content: center;
    }

    & .slick-dots {
      position: absolute;
      display: flex;
      left: 50%;
      bottom: 13px;
      transform: translateX(-50%);
      gap: 0 15px;

      & li {
        font-size: 0;
        border-radius: 50%;
        background-color: $gray;

        &.slick-active {
          background-color: $orange900;
        }
      }

      & li button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: background-color 0.5s, box-shadow 0.5s;

        &:focus {
          box-shadow: 0 0 0 2px $orange900;
        }

        &:active {
          background-color: $orange05;
          box-shadow: none;
        }
      }

      @include mq("phone") {
        bottom: 0;
      }
    }
  }
}

.rest-card {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: $white;
  transition: box-shadow 0.5s, background-color 0.5s;

  @include mq("phone") {
    margin-bottom: 35px;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 3px 15px 0 $orange05;
      background-color: $white;
    }
  }

  &__info {
    padding: 15px 20px 20px;
  }

  &__title {
    margin-bottom: 20px;
    @extend %rubik-400;
    font-size: 24px;
    line-height: 1.3;
    @include line-clamp(1);
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__clock {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    fill: $font;
  }

  &__timetable,
  &__decor {
    @extend %rubik-300;
    font-size: 18px;
    line-height: 1.67;
    opacity: 0.9;
  }

  &__decor {
    padding: 0 7px;
  }

  &__details {
    margin-left: auto;
    padding: 5px 27px 0 28px;
    border-radius: 20px;
    background-color: $orange900;
  }

  &__arrow {
    width: 24px;
    height: 24px;
    fill: $white;
    transition: transform 0.5s;
  }
}

.reviews {
  &__title {
    text-align: center;
    margin-bottom: 53px;

    @include mq("tablet") {
      margin-bottom: 40px;
    }

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }
}

.reviews-slider {
  position: relative;
  padding-bottom: 60px;

  @include mq("tablet-2") {
    padding-bottom: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 45px;

    @include mq("tablet-2") {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__img {
    height: auto;
    border-radius: 50%;

    @include mq("tablet") {
      max-width: 35%;
    }

    @include mq("phone") {
      max-width: 29%;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 19px;
    fill: $gray;
    transition: fill 0.5s;
  }

  &__btn {
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    border: 3px solid $gray;
    border-radius: 50%;
    transition: box-shadow 0.5s, border 0.5s, background-color 0.5s;

    @include mq("tablet-2") {
      top: 20%;
    }

    @include mq("phone") {
      top: 13%;
      width: 34px;
      height: 34px;
    }

    @include mq("phone-small") {
      top: 7%;
    }

    &--back {
      left: 50%;
      transform: translateX(-115px);

      @include mq("tablet-2") {
        left: 33%;
        z-index: 1;
      }

      @include mq("phone-small") {
        left: 44%;
      }
    }

    &--next {
      left: 50%;
      transform: translateX(75px);

      @include mq("tablet-2") {
        left: 67%;
      }

      @include mq("phone-small") {
        left: 57%;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px $orange05;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: none;
        border: 3px solid $orange05;
        background-color: #fff2ed;
        .reviews-slider__arrow {
          fill: $orange05;
        }
      }
    }

    &:active {
      border: none;
      box-shadow: none;
      background-color: #fff2ed;
      .reviews-slider__arrow {
        fill: $orange900;
      }
    }

    &.slick-disabled {
      border: 3px solid $orange900;
      background-color: $orange01;

      .reviews-slider__arrow {
        fill: $orange900;
      }
    }
  }

  .slick-dots {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
    gap: 0 15px;

    & li {
      font-size: 0;
      border-radius: 50%;
      background-color: $gray;

      &.slick-active {
        background-color: $orange900;
      }
    }

    & li button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      transition: background-color 0.5s, box-shadow 0.5s;

      &:focus {
        box-shadow: 0 0 0 2px $orange900;
      }

      @media (hover: hover) {
        &:hover {
          background-color: #fff2ed;
          box-shadow: 0 0 0 2px $orange05;
        }
      }

      &:active {
        background-color: $orange05;
        box-shadow: none;
      }
    }
  }
}

.blockquote {
  max-width: 650px;
  width: 100%;
  position: relative;
  padding: 0 40px;
  display: flex;
  flex-direction: column;

  &__text {
    @extend %italic;
    margin-bottom: 30px;

    @include mq("phone") {
      margin-bottom: 20px;
      font-size: 14px;
    }

    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 20px;
      filter: invert(100%) sepia(15%) saturate(7%) hue-rotate(293deg) brightness(82%) contrast(82%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &::before {
      left: 0;
      background-image: url("../images/sprite.svg#decor-icon");
    }

    &::after {
      right: 0;
      transform: translateY(-50%);
      transform: scaleX(-1);
      background-image: url("../images/sprite.svg#decor-icon");
    }
  }

  &__author {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: $orange900;

    @include mq("phone") {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  &__author-descr {
    font-size: 14px;
    line-height: 1.3;
    color: $font;
  }
}

.download {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    max-width: 470px;
    width: 100%;
    margin-right: 20px;

    @include mq("tablet") {
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 45px;

    @include mq("tablet-2") {
      font-size: 30px;
    }

    @include mq("tablet") {
      margin-bottom: 30px;
      text-align: center;
    }

    @include mq("phone") {
      margin-bottom: 15px;
      text-align: left;
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 30px;
    opacity: 0.9;

    @include mq("phone") {
      margin-bottom: 15px;
      font-size: 14px;
    }
  }

  &__apps {
    display: flex;

    @include mq("tablet") {
      justify-content: center;
    }

    @include mq("phone") {
      justify-content: flex-start;
    }
  }

  &__app:not(:last-child) {
    margin-right: 30px;
  }

  &__image {
    max-width: 570px;
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include mq("tablet") {
      display: none;
    }
  }
}

.footer {
  &__wrapper {
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;

    @include mq("desktop") {
      justify-content: center;
    }

    @include mq("phone") {
      flex-direction: column;
      padding-bottom: 53px;
    }
  }

  &__form {
    margin-right: 70px;

    @include mq("tablet-2") {
      margin: 0 110px 70px 0;
    }

    @include mq("phone") {
      margin: 0 0 30px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 90px;
    margin-right: 141px;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;

    @include mq("desktop") {
      column-gap: 60px;
      margin-right: 60px;
    }

    @include mq("tablet-2") {
      margin-right: 0;
      row-gap: 30px;
      order: 1;
    }

    @include mq("phone") {
      grid-template-columns: repeat(1, auto);
      row-gap: 20px;
    }
  }

  &__item {
    @include mq("phone") {
      &--col-one {
        order: 1;
      }

      &--col-two {
        order: 2;
      }

      &--col-three {
        order: 3;
      }
    }
  }

  &__copyright-text {
    display: block;
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
    color: $white;
    background-color: $darkblue900;
  }
}

.form {
  max-width: 200px;
  width: 100%;

  &__label {
    width: 100%;
  }

  &__field {
    width: 100%;
    margin-bottom: 12px;
    padding: 13px 5px 13px 15px;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 5px;
    border: 1px solid $gray;
    background-color: $white;
    transition: border 0.5s, box-shadow 0.5s;

    &::placeholder {
      color: $gray;
      opacity: 0.9;
      transition: color 0.5s;
    }

    &:focus {
      border: 1px solid transparent;
      box-shadow: 0 0 0 2px $orange900;
    }

    @media (hover: hover) {
      &:hover::placeholder {
        color: $darkblue900;
      }
    }
  }

  &__btn {
    display: flex;
    width: 100%;
    padding: 13px 37px 13px 36px;
    font-size: 14px;
    @extend %rubik-500;
    line-height: 1.3;
    border-radius: 5px;
    color: $white;
    background-color: $orange900;
  }

  &__btn-icon {
    margin-right: 21px;
    width: 17px;
    height: 16px;
    fill: $white;
  }
}

.contacts {
  @include mq("tablet-2") {
    margin-right: 30px;
  }

  &__items {
    margin-bottom: 15px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 2;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__item-icon {
    margin-right: 4px;
    width: 24px;
    height: 24px;
    stroke: $font;
    fill: none;
  }
}

.social-contacts {
  display: flex;
  gap: 0 13px;

  @include mq("phone") {
    margin-bottom: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    border: 1px solid $silver200;
    border-radius: 50%;
    background-color: $silver200;
  }

  &__link-icon {
    fill: $font;
    transition: fill 0.5s;

    &--facebook {
      width: 10px;
      height: 21px;
    }

    &--twitter {
      width: 21px;
      height: 17px;
    }

    &--instagram {
      width: 20px;
      height: 20px;
    }
  }
}

.catalog-products {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @include mq("tablet") {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }
  }

  &__title {
    @include mq("tablet") {
      margin-bottom: 20px;
    }
  }

  &__btn {
    display: none;
    width: 47px;
    height: 47px;
    margin-right: 20px;
    padding: 6px 8px;
    background-color: #faeded;
    border-radius: 3px;

    @include mq("tablet") {
      display: block;
    }
  }

  &__btn-icon {
    width: 32px;
    height: 34px;
    fill: $orange900;
  }

  &__pick {
    display: flex;
    align-items: center;

    .jq-selectbox {
      z-index: 1;

      &__select {
        height: 47px;
        padding: 15px 15px 15px 15px;
        border: 1px solid $silver200;
        border-radius: 3px;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-shadow: none;
        box-shadow: none;
        background-color: $white;
        color: $font;
        transition: border 0.5s, color 0.5s, background-color 0.5s;
      }

      &__trigger {
        border-left: none;
      }

      &__trigger-arrow {
        position: absolute;
        top: 21px;
        right: 12px;
        width: 11px;
        height: 6px;
        border: none;
        mask-image: url("../images/sprite.svg#select-arrow");
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        background-color: $gray;
      }

      &__dropdown {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid $silver200;
        background-color: $white;
        box-shadow: none;
      }

      & li {
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $font;

        &:not(:last-child) {
          padding-bottom: 5px;
        }

        @media (hover: hover) {
          &:hover {
            background-color: #fff2ed;
          }
        }
      }

      & li.selected {
        background-color: #fff2ed;
        color: $font;
      }
    }
  }

  &__pick-sort {
    width: 130px;
    margin-right: 20px;
  }

  &__pick-show {
    width: 92px;
  }

  &__inner {
    display: flex;

    @include mq("desktop") {
      justify-content: space-evenly;
    }

    @include mq("tablet") {
      justify-content: center;
    }
  }

  &__filter {
    margin-right: 30px;
    width: 270px;
    transition: transform 0.3s;

    @include mq("tablet") {
      margin-right: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 270px;
      height: 100vh;
      overflow-y: auto;
      z-index: 2;
      background-color: $white;
      transform: translateX(-500%);
    }

    &.active {
      transform: translateX(0);
    }
  }

  &__filter-btn {
    margin: 20px 20px 20px auto;
    border-radius: 3px;
    background-color: #faeded;
  }

  &__categories {
    margin-bottom: 30px;
    border: 1px solid $silver200;
    border-radius: 5px;
    background-color: $white;
  }

  &__categories-items {
    padding: 25px 0 25px 15px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $font;
  }

  &__categories-item {
    &:not(:last-child) {
      padding-bottom: 12px;
    }
  }

  &__categories-link {
    &--active {
      color: $orange900;
    }
  }

  &__offers {
    margin-bottom: 30px;
    border: 1px solid $silver200;
    border-radius: 5px;
    background-color: $white;
  }

  &__offers-form {
    padding: 20px 0 25px 15px;
  }

  &__offers-label {
    display: flex;
    padding-left: 36px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $font;
    transition: color 0.5s;

    &:hover {
      color: $orange900;
    }

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &__offers-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    transition: border 0.5s, background-color 0.5s;

    &:focus + .catalog-products__offers-checkbox {
      border: 1px solid $orange900;
      border-radius: 3px;
      background-color: #fff2ed;
    }

    &:hover + .catalog-products__offers-checkbox {
      border: 1px solid $orange900;
      border-radius: 3px;
      background-color: #fff2ed;
    }

    &:checked + .catalog-products__offers-checkbox {
      border: 1px solid $darkblue900;
      background-color: #fff2ed;
      background-image: url("../images/sprite.svg#check-icon");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__offers-checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -36px;
    border-radius: 3px;
    border: 1px solid $silver200;
    background-color: $orange02;
    transition: border 0.5s, background-color 0.5s;
  }

  &__price {
    border: 1px solid $silver200;
    border-radius: 5px;
    background-color: $white;
  }

  &__price-controls {
    padding: 20px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $gray;
  }

  &__price-from,
  &__price-to {
    width: 70px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $font;
    border-radius: 3px;
    border: 1px solid $orange01;
    background-color: #faeded;

    &:focus {
      border: 1px solid $orange900;
      background-color: #fff2ed;
    }
  }

  &__price-symbol {
    width: 10px;
    height: 16px;
    fill: $gray;
  }

  &__price-form {
    padding: 0 15px 25px 15px;

    .irs-line {
      height: 2px;
      background-color: $gray;
    }

    .irs-min,
    .irs-max,
    .irs-from,
    .irs-to {
      display: none;
    }

    .irs-bar {
      background-color: $orange900;
    }

    .irs-handle {
      top: 28px;
      width: 19px;
      height: 18px;
      border: none;
      background-color: $orange900;
    }
  }

  &__content-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 60px;

    @include mq("desktop") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq("tablet-2") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq("tablet") {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }

    @include mq("phone") {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5px;
      row-gap: 10px;
      margin-bottom: 30px;
    }
  }

  &__content-item {
    max-width: 210px;
    width: 100%;

    @include mq("phone") {
      &:nth-child(n + 7) {
        display: none;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__pagination-arrows {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #fff2ed;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__pagination-icon {
    width: 11px;
    height: 18px;
    fill: $gray;
  }

  &__pagination-items {
    display: flex;
  }

  &__pagination-item {
    margin-right: 6px;

    @include mq("phone") {
      &:nth-child(even) {
        display: none;
      }
    }
  }

  &__pagination-link {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #fff2ed;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: $darkblue900;

    &--active {
      border: 1px solid $darkblue900;
    }
  }
}

.promo {
  &__title {
    margin-bottom: 60px;

    @include mq("tablet") {
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @include mq("tablet-2") {
      flex-wrap: nowrap;
      gap: 15px;
    }

    @include mq("tablet") {
      flex-wrap: wrap;
      gap: 20px;
    }

    & .slick-slide {
      display: flex;
      justify-content: center;
    }

    & .slick-dots {
      position: absolute;
      display: flex;
      left: 50%;
      bottom: 13px;
      transform: translateX(-50%);
      gap: 0 15px;

      & li {
        font-size: 0;
        border-radius: 50%;
        background-color: $gray;

        &.slick-active {
          background-color: $orange900;
        }
      }

      & li button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: background-color 0.5s, box-shadow 0.5s;

        &:focus {
          box-shadow: 0 0 0 2px $orange900;
        }

        &:active {
          background-color: $orange05;
          box-shadow: none;
        }
      }

      @include mq("phone") {
        bottom: 0;
      }
    }
  }

  &__item {
    @include mq("tablet-2") {
      width: 30%;
    }

    @include mq("tablet") {
      width: 45%;
    }
  }
}

.promo-card {
  height: 100%;

  @include mq("phone") {
    margin-bottom: 28px;
  }

  &__info {
    padding: 15px 20px;
    max-width: 370px;
  }

  &__title {
    margin-bottom: 0;
    white-space: wrap;

    @include mq("tablet-2") {
      font-size: 20px;
    }

    @include mq("phone") {
      font-size: 24px;
    }
  }
}


@import"./page-products/products";

