<section class="download section">
  <div class="container">
    <div class="download__wrapper">
      <div class="download__inner">
        <h2 class="download__title title">Завантажте мобільний застосунок</h2>
        <p class="download__text">Ресторани, які ви любите - у ваших руках. Встановлюйте застосунок та замовляйте їжу в зручному місці в зручний час</p>
        <ul class="download__apps">
          <li class="download__app">
            <a class="download__app-link" href="#" target="_blank" rel="noopener noreferrer">
              <img class="download__app-link-icon" src="images/app-store.svg" width="120" height="40" alt="Посилання на завантаження додатку">
            </a>
          </li>
          <li class="download__app">
            <a class="download__app-link" href="#" target="_blank" rel="noopener noreferrer">
              <img class="download__app-link-icon" src="images/play-store.svg" width="135" height="40" alt="Посилання на завантаження додатку">
            </a>
          </li>
        </ul>
      </div>
      <div class="download__image" style="background-image: url('images/get-app.jpg')">
        <span class="sr-only">Малюнок замовлення через додаток</span>
      </div>
    </div>
  </div>
</section>
